html{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 50px;
}

body{
  display: flex;
  align-self: center;

}
button{
  height: 60px;
  width: 90px;
}
h2{
  margin: 0px;
}

.calculator-Body{
  width: 400px;
  height: 440px;
  border: 7px solid grey;
  background-color: #2d2b2b;;
  padding: 15px 0 15px 15px;
}

.output-box{

  height: 30px;
  margin-top: 25px;
  padding: 20px 15px 20px 15px;
  background-color: white;
  color: black;
  text-align: end;
  border-radius: 8px;
  width: 345px;

}
.topkey-layout{
  margin-top: 35px;
  margin-bottom: 15px;
  display: flex;

  width: 377px;
}
.topkey-layout .test{
  width: 82px;
  margin-left: auto;
}
.topkey-layout button{
  height: 40px;
  width: 90px;
}

.keypad-layout{
  display: flex;
  justify-content: center;
}


.numberpad{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
}


.operation-layout{
  width: 380px;
}

.operation-layout button{
  height: 48px;
  width: 80px;
}




